[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/pvinesh
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/pvinesh
	label-Verified = -1..+1 group user/pvinesh
	push = group user/pvinesh
	read = group user/pvinesh
	rebase = group user/pvinesh
	removeReviewer = group user/pvinesh
	submit = group user/pvinesh
[access "refs/heads/*"]
	create = group user/pvinesh
	push = +force group user/pvinesh
	pushMerge = group user/pvinesh
	read = group user/pvinesh
[access "refs/tags/*"]
	push = group user/pvinesh
	push = +force group user/pvinesh
